html
  position: relative
  overflow: hidden

  
body 
  position: relative

  width: 100%
  height: 100%
  margin: 0
  background-color: #ce3739
  color: black
  font-family: 'Krungthep', sans-serif
  overflow: hidden

// @media (orientation: portrait)
//   body
//     width: 100vh
//     height: 100vw

//     -webkit-transform: rotate(-90deg)
//     -moz-transform: rotate(-90deg)
//     -o-transform: rotate(-90deg)
//     -ms-transform: rotate(-90deg)
//     transform: rotate(-90deg)
  