.game__infos
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100vh
.infos__timer
    position: absolute
    top: 10%
    left: 50%
    transform: translateX(-50%)
    color: blue
    font-size: 35px
.timer-value